<!-- -->
<launch>

	<node pkg="novatel" type="novatel_node" name="novatelImu_node" output="screen">
		<param name="port" value="/dev/ttyS2" />
		<param name="baudrate" value="115200" />
		<param name="log_commands" value="rawimusb ontime 0.01"/>  <!--812 -->
		<param name="gps_default_logs_period" value="0.0" />
		<param name="span_default_logs_period" value="0.0" />
		<param name="raw_imu_topic_" value="/raw_imu"/>
	</node>

</launch>
